.row{
    display:flex;
    justify-content:space-between;
}
.hr{
    margin: 0,auto !important;
}

.span{
    margin-bottom: 0 !important;
    margin-top: 1rem !important;
    
    font-size: large !important;
}

hr{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: 1.5px solid rgba(0,0,0,.1) !important;
}
.mb-3{
    margin-bottom: 1rem !important;
}

.or{
    position: relative;
    left: 10rem;
    margin-top: 0;
}


.position{
    position: relative;
    top: 5rem;
}

.text-position{
    position: relative;
    left: 5rem;
}
.card-position{
    justify-items: center;
}
.card-body{
    padding: 0 !important;
}

