.center {
text-align: center;
}
.w-60{
    width: 60%;

}
.mt{
    margin-top: 1rem;
}
.mb{
    margin-bottom: 1rem;
}
.w-50{
    width: 50;
    margin-left: auto;
    margin-right: auto;
}

.mb-5px{
    margin-bottom: 5px !important;
}

.m-0{
    margin: 0 auto 0 auto;
}
.mb-0{
    margin-bottom: 0 !important;
}
.mt-0{
    margin-top: 0 !important;
}
.mt-5px{
    margin-top: 5px !important;
}

.jumbotron{
    padding: 1rem 1rem !important;
    background-color: #ecfbfc !important;
    }

.h{
 color: #900c3f !important;
}

.height-600px{
    height: 18rem;
    width: 100% !important;
}

.box{
    position: absolute;
    left: 30rem;
    
}
.form-control{
    width: 30% !important;
    display: inline-block !important;
}

.padding-left{
    padding-left: 2rem !important;
}
.mt-7{
    margin-top: .4rem;
}

hr{
    margin-top: 0;
}
.table{
    margin-bottom: 0 !important;
}
.mr{
    margin-right: 1rem;
}

.card_height{
    height: 15rem;
    
}
.height_20rem{
    height: 18rem;
}
.w-100{
    width: 100% !important;
}

.img{
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.img:hover {
    transform: scale(1.05);

}

.drop:hover{
    cursor: pointer !important;
}
.border_box{
    border: 1px solid  rgba(0,0,0,.1);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 8px;
    border-radius:8px ;
    background-color:#ecfbfc !important ;
}

.dropdown-menu{
    right: 0 !important;
    left: auto !important;
    min-width: 1rem !important;
    background-color:#ecfbfc !important ;
    border-radius:8px !important;
}

.width{
    width: 100% !important;
}
  
